@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: 'Montserrat';
}

.title{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header{
        .active{
            border: 2px solid rgb(12, 144, 196);
            background-color: rgb(12, 144, 196);
        }
}

section{
    .carousel-caption{
        font-size: 6em;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: rgb(12, 144, 196);
        text-shadow: 0px 0px 2px rgb(12, 144, 196);
        font-weight: bold;
    }
}

.section-add{
    .form{
        &-row{
            display: flex;
            justify-content: center;

            .form-col{
                .form-control{
                    width: 500px;
                }
            }
        }
    }
}