.add-recipe-form{
    .form{
        &__section{
            display: flex;
            justify-content: center;
        }
    }
}


.contact-form{
    .form{
        &__section{
            display: flex;
            justify-content: center;
        }
    }
}